# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'alt-r': 'sb-atom-sonic-pi:play-file'
  'f5': 'sb-atom-sonic-pi:save-and-play-file'
  'ctrl-alt-r': 'sb-atom-sonic-pi:play-selection'
  'alt-s': 'sb-atom-sonic-pi:stop'
  'alt-i': 'sb-atom-sonic-pi:open_tutorial'
